/*####################################################### New Styles for Top Indicators START ####################################################*/
body
{
    padding-top: 20px;
    color: black !important;
}
#price-indicators .nav a small
{
    display: block;
    font-size: 1.8em;
}
#price-indicators .nav
{
    background: #eee;
}

#price-indicators{
  width: 97.6%;
}

.breadcrum{
  width: 97% !important;
}

.full-width{
  width: 97.6% !important;
}

.nav-justified > li > a
{
    border-radius: 0px;
}

.price-block > a{
  width: 100% !important;
  margin: 0 0 10px 0 !important;
}

.price-block > a:hover{
  text-decoration: none !important;
}

.coin-type {
    width: 205px !important;
  }

.nav>li>a:focus, .nav>li>a:hover {
    opacity: 0.8;
    text-decoration: none !important;
}

.nav-pills>li[data-slide-to="0"].active a { background-color: #f90; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #999999; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #27A9E3; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #0073AB; }

.btc-price, .btc-price > a, .btc-price > a:hover{
  background-color: #f90 !important;
  color: #fff;
  text-decoration: none !important;
}

.ltc-price, .ltc-price > a, .ltc-price > a:hover{
  background-color: #999999 !important;
  color: #fff;
  text-decoration: none !important;
}

.nmc-price, .nmc-price > a, .nmc-price > a:hover{
  background-color: #27A9E3 !important;
  color: #fff;
  text-decoration: none !important;
}

/*####################################################### New Styles for Top Indicators END ####################################################*/
/*####################################################### New Styles for XRP START ####################################################*/

.xrp-price, .xrp-price > a, .xrp-price > a:hover{
  background-color: #0073AB !important;
  color: #fff;
  text-decoration: none !important;
}

.xrp-block > a{
	background:#0073AB;
}
.xrp-stripe{
	background:#005880;
}

.xrp-boader, .xrp-border {
  border: solid 1px #0073ab;
}

h2.xrp-head {
    background: #0073ab;
    padding: 5px 0 5px 15px;
}

.btn.xrp {
    color: white;
    text-shadow: none;
    background: #0073ab;
    padding: 6px 12px;
}

.xrp-dark-back {
    background-color: #005880 !important;
}

.orange-xrp {
    background-color: #0073ab !important;
}

.coin-title{
  font-size: 1em;
}

.xrp-history-head {
    background: #0073ab;
    padding: 14px 10px 8px 10px;
}

/*####################################################### New Styles for XRP END ####################################################*/
/*####################################################### New Styles for ETH START ####################################################*/
.eth-price, .eth-price > a, .eth-price > a:hover{
  background-color: #6a89a5 !important;
  color: #fff;
  text-decoration: none !important;
}

.eth-block > a{
	background:#6a89a5;
}
.eth-stripe{
	background:#477192;
}

.eth-boader, .eth-border {
  border: solid 1px #6a89a5;
}

h2.eth-head {
    background: #6a89a5;
    padding: 5px 0 5px 15px;
}

.btn.eth {
    color: white;
    text-shadow: none;
    background: #6a89a5;
    padding: 6px 12px;
}

.eth-dark-back {
    background-color: #477192 !important;
}

.orange-eth {
    background-color: #6a89a5 !important;
}

.eth-history-head {
    background: #6a89a5;
    padding: 14px 10px 8px 10px;
}

/*####################################################### New Styles for ETH END ####################################################*/
/*####################################################### New Styles for DASH START ####################################################*/
.dash-price, .dash-price > a, .dash-price > a:hover{
  background-color: #1c75bc !important;
  color: #fff;
  text-decoration: none !important;
}

.dash-block > a{
	background:#1c75bc;
}
.dash-stripe{
	background:#165b92;
}

.dash-boader, .dash-border {
  border: solid 1px #1c75bc;
}

h2.dash-head {
    background: #1c75bc;
    padding: 5px 0 5px 15px;
}

.btn.dash {
    color: white;
    text-shadow: none;
    background: #1c75bc;
    padding: 6px 12px;
}

.dash-dark-back {
    background-color: #165b92 !important;
}

.orange-dash {
    background-color: #1c75bc !important;
}

.dash-history-head {
    background: #1c75bc;
    padding: 14px 10px 8px 10px;
}

/*####################################################### New Styles for DASH END ####################################################*/
/*####################################################### New Styles for ZEC START ####################################################*/
/*Fix for cryptocoins not having zec in the demo library*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xzod61');
  src:  url('fonts/icomoon.eot?xzod61#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xzod61') format('truetype'),
    url('fonts/icomoon.woff?xzod61') format('woff'),
    url('fonts/icomoon.svg?xzod61#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ZEC:before {
  content: "\e900";
}


.zec-price, .zec-price > a, .zec-price > a:hover{
  background-color: #CB842A !important;
  color: #fff;
  text-decoration: none !important;
}

.zec-block > a{
	background:#CB842A;
}
.zec-stripe{
	background:#b67635;
}

.zec-boader, .zec-border {
  border: solid 1px #CB842A;
}

h2.zec-head {
    background: #CB842A;
    padding: 5px 0 5px 15px;
}

.btn.zec {
    color: white;
    text-shadow: none;
    background: #CB842A;
    padding: 6px 12px;
}

.zec-dark-back {
    background-color: #b67635 !important;
}

.orange-zec {
    background-color: #CB842A !important;
}

.zec-history-head {
    background: #CB842A;
    padding: 14px 10px 8px 10px;
}

.zec-logo{
  height: 55px;
  float: left;
}

/*####################################################### New Styles for ZEC END ####################################################*/

.high-low-vol{
  float: left;
}
.price{
  line-height: 48px !important;
}
.coin-type{
  height: 50px !important;
}
.all-balance, .all-balance:visited, .all-balance:link, .all-balance:hover{
  color: #fff !important;
  text-decoration: none !important;
}

/*################################################### Coming Soon Overlay #############################################################*/
.coming-soon {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 57%;
    width: 100%;
    position: absolute;; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    /*top: 0;*/
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.coming-soon-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.coming-soon p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

@media only screen and (max-device-width: 480px) {
  .coming-soon{
    height: 68.8%;
  }
  #price-indicators .nav a small {
    display: block;
    font-size: 1.2em;
  }
}

@media only screen and (max-device-width: 380px) {
  .coming-soon{
    height: 68.8%;
  }
  #price-indicators .nav a small {
    display: block;
    font-size: 1.2em;
  }
}

@media only screen and (max-device-width: 350px) {
  .coming-soon{
    height: 80%;
  }
  #price-indicators .nav a small {
    display: block;
    font-size: 1.2em;
  }
}

@media only screen and (max-device-height: 730px) {
  .coming-soon{
    height: 65.3%%;
  }
  #price-indicators .nav a small {
    display: block;
    font-size: 1.2em;
  }
}
