/* CSS Document */
/*# is an ID*/
/*. is a class*/

* {
	margin:0px;
	padding: 0px
}

html, body { 
  color: #000; 
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 14px; 
  height: 100%;
}

/*Standard small headding as used in contact us and other test pages*/
h2{
	/*color:#242B32;*/
	/*font-weight:bold;*/
	font-size: 1.4em;
	/*margin-bottom: .5em;*/
	
}
h3{
	font-size: 1em;
	/*padding:0 0 1em  0;*/
	
}
.strike {
	text-decoration:line-through;
	
}
#negative-message {
	background: #E02222;
	padding: 5px 10px;
	margin: 2px 15px;
	color: #FFF;
	}
#positive-message {
	background: #090;
	padding: 5px 10px;
	margin: 2px 15px;
	color: #FFF
}

#container{
	min-height: 100%;
	position: relative;	
}

#content{
	padding-bottom: 200px;   /*Rads says if you change this also change #content{padding-bottom: 225px; Line 38ish*/
}

label{
	color: #242B32;

}
.header-bar{
	/*By default, the background-image property repeats an image both horizontally and vertically.*/
	/*this rads-rays-big.png is 1425 x 389*/
	background: #242B32 url("images/rads-rays-big.png");
	width: 100%;
	height: 52px;
	min-width: 960px;
	overflow: hidden;
		
}
#logo{
	font-size:20px;
	color:#FFF;
	float:left;
	padding:0px 0 0 15px;
}
#login-rads-block{
	float:right;
	color:#FFF;
	padding:20px 10px 0 0;
	font-size:10px
}

.login-btn {
    display: inline-block;
    padding: 1px 4px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    /*line-height: 1.42857;*/
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-image: none;
	background:#F0F0F0;
    border: 1px solid transparent;
    border-radius: 0px;
    -moz-user-select: none;
	-webkit-appearance: none;
}

.login-btn.rads-tab a{
	padding: 10px 10px 8px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid 1px #48535D;
	border-bottom:none;
	color:#48535D;
	font-weight:bold;
	text-decoration:none;
	box-shadow: 1px -1px 2px #48535D;
	
		
}{
  opacity: 0.8;
  /*background:#757575;*/
}
.login-text    {
	width:140px;
	display:inline-block;
	border: 1px solid #999;
	height: 15px;
	margin-bottom:10px;
	padding: 2px 0 2px 3px;
	border-radius: 0px;
	background:#FFF;
	/*-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
	}

.register{
	float:right;
	color:#FFF;
	padding:25px 10px 0 0;
}
.register a:link {color:#FFF; text-decoration:none;}      /* unvisited link */
.register a:visited {color:#FFF; text-decoration:none;}  /* visited link */
.register a:hover {color:#FFF; text-decoration:none;}  /* mouse over link */
.register a:active {color:#FFF; text-decoration:none;}  /* selected link */ 

.welcome{
	/*float:right;*/
	color:#FFF;
	padding: 20px 15px 0 0;
	text-align:right;	

}
.welcome a:link {color:#FFF; text-decoration:none;}      /* unvisited link */
.welcome a:visited {color:#FFF; text-decoration:none;}  /* visited link */
.welcome a:hover {color:#FFF; text-decoration:none;}  /* mouse over link */
.welcome a:active {color:#FFF; text-decoration:none;}  /* selected link */ 

#menu{
	background-color: #6C7D8C;
	color:#FFF;
	padding:5px 10px 0 0;
	font-size:10px
}
.menu-bar{
	background-color:#48535D;
	/*width: 100%;*/
	height:27px;
	min-width: 960px;
	/*overflow: hidden;*/
	padding: 0 0 0 15px;
	border-bottom: solid 1px #48535D;
	border-top: solid 1px #48535D;
	
}
.menu-items{
	padding: 5px 0 0 40px;
	float:left;
	color:#FFF;
}
.menu-items a{
	color:#FFF;
	text-decoration:none
}

/*############################# Top menu bar Start #############################	*/
/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */

/*------------------------------------*\
    NAV
\*------------------------------------*/
#right-date{
	font-size:12px;
	float:right;
	padding:5px 10px 0 0;
	color:#999;

	
}
#nav{
    list-style:none;
    /*font-weight:bold;*/
    margin:0 0 0 0 ;
    /*float:left;  Clear floats */
    width:100%;
	/* Bring the nav above everything else--uncomment if needed.*/
    /*position:relative;*/
    z-index:-1;
    
}
#nav li{
    float:left;
    /*margin-right:10px;*/
    position:relative;
	z-index:5;
}
#nav a{
    display:block;
    color:#fff;
    background:#48535D;
    text-decoration:none;
	padding: 5px;
}
#nav a:hover{
    color:#fff;
    background:#242B32;
    text-decoration:none; 
}

/*--- DROPDOWN ---*/
#nav ul{
    background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
}
#nav ul li{
    padding-top:1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float:none;
}
#nav ul a{
    white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#nav li:hover ul{ /* Display the dropdown on hover */
    left:0; /* Bring back on-screen when needed */
		
}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background:#242B32;
    text-decoration:none;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration:none;
	background:#48535D;
	padding-right:11px;
	
}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background:#242B32;
}

/*############################# Top menu bar END #############################	*/


.balance-bar{
	background-color:#627280;
	width: 100%;
	height:28px;
	min-width: 960px;
	overflow: hidden;
	
}
.balance{
	padding: 5px 15px 0 0;
	float:right;
	color:#FFF;
}
.wrapper{
	margin: 10px 15px 0 15px;
	clear:both;	
}

.row {
clear: both;
}
.page-title {
font-size: 30px;
letter-spacing: -1px;
display: block;
color: #48535D;
font-weight: 300;
font-family: 'Open Sans', sans-serif;
}	
.page-title small {
font-size: 14px;
letter-spacing: 0px;
font-weight: 300;
}
	
.breadcrum{
	background: #eee;
	font-size:12px;
	padding:3px 0 3px 10px;
}	

.text-shade ul{
	margin-left:25px;
}
.inner{
	padding: 10px 20px;	
}
.inner p {
	padding: 10px 0;
}

/*Used in secure_trading page*/
#promise{
	color:#242B32;	
}
/*############################# btc_ltc_mnc.php Start #############################	*/
.price-block > a{
	width:32%;
	min-width:288px;
	float:left;
	margin:10px 10px 10px 0;
	text-decoration:none;
	border: 1px solid transparent;
}
.price-stripe{
	min-width:288px;
	clear: both;	
}
.btc-block > a{
	background:#FF9900;	
}
.btc-stripe{
	background:#E87900;	
}
.ltc-block > a{
	background:#999999;	
}
.ltc-stripe{
	background:#757575;	
}
.nmc-block > a{
	background:#27A9E3;	
}
.nmc-stripe{
	background:#2195C9;	
}

.price-block > a:hover{
	opacity: 0.8;
}

.coin-type{
	width: 80px;
	height: 80px;
	display: block;
	float: left;
	padding-top: 10px;
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 48px;
	line-height: 48px;
	color: #fff;
}
.price{
	padding: 15px 10px 0 0;;
	text-align: right;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: -1px;
	margin-bottom: 5px;
	font-weight: 300;
	color: #fff;
}
.buy-sell{
	text-align: right;
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 300;
	color: #fff;
	padding: 0 10px 0 0;
}
.high-low-vol{
	text-align:left;
	color:#FFF;
	font-size: 80%;
	letter-spacing: 0px;
	font-weight: 700;
	padding: 3px 0 3px 10px;
}

/*############################# btc_ltc_mnc.php End #############################	*/

/*############################# trade_blocks.php Start #############################	*/

.trade-blocks{
	color:#FFF;
	width:48.5%;
	min-width:288px;
	float:left;
	margin:0 0 10px 0;
	text-decoration:none;
	padding-bottom:0px;
		
}
.trade-blocks:nth-child(1) {
	margin-right: 10px; 
	/*background: red;*/
	
	}

.trade-blocks form{
	padding-left:0px;
}
.label-width{
	width:150px;
	display:inline-block;
	padding-left:10px;
}

.btc-head{
	background:#FF9900;
	padding: 5px 0 5px 15px;
		
}
.ltc-head{
	background:#999999;
	padding: 5px 0 5px 15px;
	
}
.nmc-head{
	background:#27A9E3;
	padding: 5px 0 5px 15px;	
}
.btn {
    display: inline-block;
    
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    -moz-user-select: none;
	-webkit-appearance: none;
}

.btn.orange {
    color: white;
    text-shadow: none;
    background:#FF9900;
	padding: 6px 12px;
	
}
.btn.grey {
    color: white;
    text-shadow: none;
    background:#999999;
	padding: 6px 12px;
	
}
.btn.blue {
    color: white;
    text-shadow: none;
    background:#27A9E3;
	padding: 6px 12px;
	
}

.btn.narrow {
    color: white;
    text-shadow: none;
    /*background:#FF9900;
	padding: 1px 4px;*/ /*width and hieght of button*/
}

.btn:hover{
  opacity: 0.8;
  
}

.radstext {
	width:140px;
	display:inline-block;
	border: 1px solid #999;
	height: 20px;
	margin-bottom:10px;
	padding: 4px 0 4px 3px;
	border-radius: 0px;
	background:#FFF;
	/*-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);*/
}

.pw-reset-form {
	width: 280px;
	display: inline-block;
	border: 1px solid #999;
	height: 20px;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 2px 0 2px 3px;
	border-radius: 0px;
	background: #FFF;
	}

.pw-reset-form-small {	
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-style: italic;
}
.pw-form p:nth-child(even) {
	margin: 0 0 0 165px;
	font-size: 10px;
	font-style: italic;
}

.flat-p {
	margin: 0 !important;
	
}

.button-shade{
	background-color:#eee;
	padding:8px 0 8px 0;	
}
.rads-msg-red{
	background-color:#e02222;
	color:#fff;
	text-align:center;
}
.rads-msg-grn{
	background-color: #090;
	color:#fff;
	text-align:center;
}

/*############################# trade_blocks.php End #############################	*/

/*############################# trade_orders.php Start #############################	*/
/*We are using some classed from trade_blocks.php here says Rads*/
.scroll-wrapper{
	/*overflow-x: hidden;*/
	overflow-y: auto;
	max-height: 380px;
}

.trade-table{
	width: 99%;
	color:#000;
	margin:auto;
	text-align:left;
	/*border:solid 1px #FF9900;*/
	border-spacing: 0;
	line-height: 1.4;
	padding:8px;
	
}
.trade-table th{
	text-align:left;
}

.trade-table tr:nth-child(odd){
	background-color:#eee;
	
}


.trade-orders{
	color:#FFF;
	width:48.5%;
	min-width:288px;
	float:left;
	margin:0 0 10px 0;
	text-decoration:none;
	padding-bottom:8px;
	/*border:solid 1px #FF9900*/;
		
}
.trade-orders th{
	/*background-color:#090;
	background:#E87900;*/
	color:#FFF;
	padding-left:5px;
	text-align:left;
	
}

.trade-orders td{
	border-bottom:solid 1px #ddd;
	padding:3px;

}

.trade-orders:nth-child(1) {
	margin-right: 10px; 
	/*background: red;*/
	
	}
/*############################# trade_Orders.php End #############################	*/

/*############################# trade_my_orders.php Start #############################	*/
/*We are using some classed from above... says Rads*/
.scroll-wrappert{
	/*overflow-x: hidden;*/
	/*height:auto;*/
	max-height: 120px;
	overflow-y: auto;
}

/*############################# trade_my_orders.php End #############################	*/

/*############################# trade_history.php Start #############################	*/
.full-width{
	color:#FFF;
	width:98%;
	min-width:288px;
	margin:0 0 5px 0;
	text-decoration:none;
	padding-bottom:0px;
}

.btc-boader{
	border:solid 1px #FF9900;
}
.ltc-boader{
	border:solid 1px #999999;
}
.nmc-boader{
	border:solid 1px #27A9E3;
}

/*############################# trade_history.php End #############################	*/


/*############################# FCM footer Start #############################	*/
.footer-bar {
	background-color:#242B32;
	width: 100%;
	min-width: 960px;
	/*overflow: hidden;
	clear:both;
	position:absolute;
    bottom:0;*/
	width:100%;
	height:200px;
	position:absolute;
	bottom:0;
	left:0;
}
.footer-bar a { color: #627280; text-decoration: none; }
.footer-bar a:hover { color: #fff; text-decoration: underline; }
#footer { 
	color: #FFF;
	width: 100%;
	min-width: 288px;
	float: left;
	/*By default, the background-image property repeats an image both horizontally and vertically.*/
	/*this rads-rays-big.png is 1425 x 389*/
	background: #242B32 url("images/rads-rays-big.png");
	/*background: #242b32;*/
	padding: 0 0 36px 0;
	margin: 0;
	clear: both;
}
#fcm-footer { margin: 20px 0 40px 30px;}
#fcm-footer div {
	float: left; 
	width: 22.5%;
	margin-right: 2%;
	min-width: 200px; /*Rads says if you change this also change #content{padding-bottom: 225px; Line 38ish*/
	/*padding: 20px 0 0 0;*/
}
#fcm-footer h3 { 
	text-transform: uppercase; 
	padding-bottom: 7px;
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 13px;
	border-bottom: 1px solid #48535D;
}
h4 { 
font-size: 18px;
padding-bottom: 7px;
}
iframe {
float:left;
margin: 5px 20px 0 0;	
}
.news-img {
float:left;
margin: 5px 20px 0 0;	
}
#fcm-footer ul {
	margin: 0 20px;
	padding: 0;
	/*color: #627280;*/
	color:#FFF;
}
.subfooter {
	clear: both; 
	background: #48535D; 
	color: #fff; 
	height: 36px;
	margin: 10px 0;
	-webkit-box-shadow: 0 8px 6px -6px #000;
	-moz-box-shadow: 0 8px 6px -6px #000;
	box-shadow: 0 8px 6px -6px #000;
}
.subfooter a {color: white;}
.subfooter p {  margin: 10px 15px; float: left;}
.subfooter p:nth-child(1) { width: 50%; }
.subfooter p:nth-child(2) { width: 43%; text-align: right; }

/*############################# FCM footer End #############################	*/

/*############################# FCM Registration Block Start #############################	*/

#reg-head { 
	background: #48535D; 
	padding: 5px 0 5px 15px;
	/*margin-bottom: 5px;*/
	color:#FFF;
}

.three-quarter-block {
	width: 72.75%;
	min-width: 288px;
	/*float:left;*/ /*If this block is floated letf the footer comes up says Rads*/
	margin: 20px 0 20px 15px;
	text-decoration: none;
	padding-bottom: 0px;
	/*border: solid 1px #48535D;*/
	color: #48535D;
	background-color: #EEE;
	
}

.three-quarter-block input, select#bank_name{
width:300px;
	display:inline-block;
	border: 1px solid #999;	
	margin-top:10px;
	padding: 4px 0 4px 3px;
	border-radius: 0px;
	background:#FFF;
}

select#bank_name{
	padding: 4px 0px 4px 0px;
	width:303px;
	}


/* Any element that is not writable */
:read-only { }

/* ... so you might want to scope it */
input:read-only 
 {
  cursor: not-allowed;
  background-color: #CCC;
}

/*
-moz- will make is work in mozilla says Rads!
see http://css-tricks.com/almanac/selectors/r/read-write-read/
something like:
-moz-user-select: none;
-webkit-appearance: none;
*/

input#terms_and_conditions { width: 20px;}

.three-quarter-block h2 {
	padding: 10px 10px;
}
.three-quarter-block h3 {
	padding: 10px 10px;
}
.full-page-block {
	width: 97%;
	min-width: 288px;
	/*float:left;*/ /*If this block is floated letf the footer comes up says Rads*/
	margin: 20px 0 20px 15px;
	text-decoration: none;
	padding-bottom: 0px;
	border: solid 1px #48535D;
	color: #48535D;
	background-color: #EEE;
	display:inline-block;
	
}

.news-block {
	width: 97%;
	min-width: 288px;
	/*float:left;*/ /*If this block is floated letf the footer comes up says Rads*/
	margin: 7px 0 7px 15px;
	text-decoration: none;
	padding-bottom: 0px;
	border: solid 1px #48535D;
	color: #48535D;
	background-color: #EEE;
	display:inline-block;
	
}

.three-quarter-block .secondp p:nth-child(even) {
	margin: 0 0 0 214px;
	font-size: 10px;
	font-style: italic;
}
.three-quarter-block .button-shade {
	margin: 10px 0 0 0;
}
.three-quarter-block img {
	border: 1px solid #999;
	margin: 14px 0 0 214px;
}
.three-quarter-block form label {
	width: 200px;
	display: inline-block;
	padding-left: 10px;
	
}
.btn.reg {
    color: white;
    text-shadow: none;
    background: #48535D;
	padding: 6px 12px;
}
.three-quarter-block .radstext {
	width: 280px;
	display: inline-block;
	border: 1px solid #999;
	height: 20px;
	margin-bottom: 0;
	margin-top: 15px;
	padding: 4px 0 4px 3px;
	border-radius: 0px;
	background: #FFF;
}
	
input#terms_and_conditions{
	margin: 10px 0 0 0;
	font-size:18px;
}

p#terms{
	margin-top: 8px;
	font-size:14px;
	font-style:normal;
}

select#physical_country, select#postal_country {
margin-top: 10px;
padding: 5px;
width: 300px;
}

/*############################# FCM Registration Block End #############################	*/

.text-shade{
	/*background-color:#eee;*/
	padding:8px 20px 8px 10px;
	margin:auto;
	display: inline-block;
	/*width: 97%;*/
}
.text-shade p{
	margin-bottom: 1em;
}

/*############################# Contact us Start #############################	*/
.contact-block {
	width:32%;
	min-width:288px;
	float:left;
	margin:10px 10px 10px 0;
	text-decoration:none;
	/*border: 1px solid transparent;*/
}

/*############################# Contact us End #############################	*/

/*############################# FAQ Start #############################	*/
hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

/*div#wrapper{
	width:960px;
	margin: 0 auto;
	position:relative;
}*/
div#primary{
	width:720px;
	margin: 20px 40px 0 0;
	float:left;
	display:inline;
}

/*h1#title{
	text-align:center;
	font-size:50px;
	line-height:70px;
	margin-top:20px;
}*/

a{
	color:#0986e3;
}

ul.section_menu{
	background:#EDEDED;
	padding:20px 10px;
}
.section_menurads{
	padding:10px 0 5px 10px;
}

/*h3{
	padding-top:30px;
}*/

dl.faq{
	margin-bottom:30px;
}

	dl.faq dt{
		font-weight:bold;
		/*color:#242B32;*/
		padding:25px 0 5px 0;
		display:block;
	}
	
	dl.faq dd{
		padding-bottom:25px;
		border-bottom:1px solid #cccccc;
		display:block;
	}

#sidebar { 
  	left:760px;
  	position: absolute;
}

#sidebar_content {
  	position: absolute;
  	top: 0;
  	/* just used to show how to include the margin in the effect */
	width:200px;
	color:#FFFFFF;
	border: 1px solid #48535D;
}

#sidebar_content.fixed {
  position: fixed;
  top: 0;
}
#sidebar_content h3 {
	background-color:#48535D;
	padding: 5px 0px 5px 15px;
}

/*############################# FAQ End #############################	*/
/*############################# Fees Start #############################	*/

.fee {
	padding-bottom: 10px; 
}


/*############################# Fees End #############################	*/

/*############################# deposit and withdrawal forms Start #############################	*/
.form-head { 
	/*background: #48535D; */
	padding: 5px 0 5px 15px !important; 
	/*margin-bottom: 5px;*/
	color:#FFF;
}

.orange-btc {
	background-color:#FF9900 !important;
}
.orange-dark-back {
	background-color:#E87900 !important;
}
.orange-border {
	border: solid 1px #FF9900;
}
.grey-ltc {
	background-color:#999999 !important;
}
.grey-dark-back {
	background-color:#6A6A6A !important;
}
.grey-border {
	border: solid 1px #999999;
}
.dark-grey-border {
	border: solid 1px #48535D;
}
.blue-nmc {
	background-color:#27A9E3 !important;
}
.blue-dark-back {
	background-color:#12688D !important;
}
.blue-border {
	border: solid 1px #27A9E3;
}
.red-error {
	color: #F00;
}
.red {
	color: #F00;
}
.green {
	color: #67ff0b;
}
/*############################# deposit and withdrawal forms End #############################	*/



/*############################# MyTradeHistory Start #############################	*/

.three-quarter-block-trade {
	width: 72.75%;
	min-width: 550px;
	/*float:left;*/ /*If this block is floated letf the footer comes up says Rads*/
	margin: 20px 0 20px 15px;
	text-decoration: none;
	padding-bottom: 0px;
	/*border: solid 1px #48535D;*/
	color: #48535D;
	/*background-color: #EEE;*/
	
}

.rads-active-tab {
	padding: 10px 10px 8px 10px;
	background-color: #FFFFFF;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: solid 2px #48535D;
	border-bottom:none;
	color:#48535D;
	font-weight:bold;
	/*box-shadow: 1px -1px 2px #48535D;*/
	margin: 0 1px;
	
		
}
.rads-tab {
	padding: 10px 10px 8px 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/*border: solid 1px #48535D;*/
	border: solid 2px #FFFFFF;
	border-bottom:none;
	color:#48535D;
	font-weight:bold;
	text-decoration:none;
	/*box-shadow: 1px -1px 2px #48535D;*/
	margin: 0 1px;
			
}
.rads-tab a{
	text-decoration:none;
	color:#FFFFFF;
	/*opacity: 1.0;*/
		
}
.rads-tab :hover{
	color:#48535D;
	/*opacity: 0.5;*/
		
}
.btc-history-head{
	background:#FF9900;
	padding: 14px 10px 8px 10px;
	
		
}
.ltc-history-head{
	background:#999999;
	padding: 14px 10px 8px 10px;
	
}
.nmc-history-head{
	background:#27A9E3;
	padding: 14px 10px 8px 10px;
}
.buy{
	color:#060;
}
.sell{
	color:#C00;
	
}

/*############################# MyTradeHistory End #############################	*/
.admin-table{
	border-collapse: collapse;
}

.admin-table input:read-only{
	background-color: #FFFFFF;
}

.admin-table th{
	border: solid 1px #627280;
	padding: 4px;
	background-color: #48535D;
	color:#FFF;
	font-weight: normal;
	 
}
.admin-table td{
	border: solid 1px #627280;
	padding: 4px;
	 
}
.admin-table tr{
	background-color: #FFF;	
}
.admin-table tr:nth-child(odd){
	background-color: #CCC;	
}

/*############################# For the QR code #############################	*/
#ifqr {
	float:none;
}

/*############################# For Modal 2FA code #############################	*/

/*!
 * Bootstrap v3.1.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

.modal-open{overflow:hidden}.modal{display:none;overflow:auto;overflow-y:scroll;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.428571429px;background-color:#242B32}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.428571429}

.modal-body{position:relative;padding:20px;background:#EEE;}
.modal-footer{/*margin-top:15px;*/padding:19px 20px 20px;text-align:right;border-top:1px solid #e5e5e5;background-color:#242B32}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}.modal-lg{width:900px}}

.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#FFF;text-shadow:0 1px 0 #fff;opacity:.2;filter:alpha(opacity=20)}.close:hover,.close:focus{color:#000;text-decoration:none;cursor:pointer;opacity:.5;filter:alpha(opacity=50)}button.close{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}

input#user_code {
    padding: 8px 0;
    margin: 10px 0;
}

/*############################# Tool tip for withdrawals #############################	*/
a.tooltip {outline:none; }

/*a.tooltip:visited {color: red; text-decoration:none;}*/ 
a.tooltip:link {} 

a.tooltip strong {line-height:30px; }
a.tooltip:hover {color: red; text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:15px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#48535D url(cssttp/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
/*.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}*/
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}
/*################################################### Friks Css for profile check START ########################################*/ 
#reg-head-red {
    background: red;
    padding: 5px 0 5px 15px;
    color: #FFF;
}
.red-border {
	border: dashed 1px red;
}
#reg-head-green {
    background: green;
    padding: 5px 0 5px 15px;
    color: #FFF;
}
.green-border {
	border: dashed 1px green;
}
ul.”verify” {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0;
}
li.”correct” {
    background: url(images/correct.png) no-repeat left top;
    height: 28px;
    padding-left: 34px;
    padding-top: 3px;
}
li.”false” {
    background: url(images/false.png) no-repeat left top;
    height: 28px;
    padding-left: 34px;
    padding-top: 3px;
}
/*################################################### Friks Css for profile check END ########################################*/ 

/*################################################### Rads Css for profile check pop up START ########################################*/
/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 20%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    /*top: 0;*/
	bottom: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(211,22,22, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
	overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
   	top: 18%;  /*25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	
	font-size: 20px;
    letter-spacing: -1px;
    display: block;
    color: #FFF;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif
}

/* The navigation links inside the overlay */
.overlay a {
    /*padding: 8px;*/
    text-decoration: underline;
    font-size: 20px;
    color: #FFF;
    /*display: block;*/ /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color:#48535D;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	right: 20px;
	top: 5px;
	position: absolute;
	font-size: 40px;
	text-decoration:none;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay-content {font-size: 10px}
    .overlay a {font-size: 10px}
    .overlay .closebtn {
        font-size: 20px;
        top: 2px;
        right: 10px;
    }
}

/*################################################### Rads Css for profile check pop up END ########################################*/


