/* Luno brand colours */
body {
  color: #212121;
  font-size: 14px;
  font-family: Roboto, 'Open Sans', sans-serif;
  line-height: 1.5em;
  background: #F2F2F2;
}
.md-whiteframe-1dp {
  background: #ffffff;
  margin: 8px;
}
.md-dialog-container {
  height: 100vh !important;
  top: 0 !important;
  position: fixed !important;
}
.md-dialog-container md-dialog {
  width: 360px;
  -ms-transform: inherit !important;
      transform: inherit !important;
}
@media (min-width: 960px) {
  .md-dialog-container md-dialog {
    width: 540px;
  }
}
.md-dialog-container md-dialog h1 {
  margin-top: 22px;
}
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab {
  color: #ffffff;
}
.2fa-container {
  width: 250px;
  text-align: left;
}
.2fa-container input {
  font-size: 20px;
  letter-spacing: 2px;
}
md-dialog.confirm form {
  padding: 0;
}
md-dialog.confirm md-dialog-content {
  padding: 16px;
}
md-dialog.confirm md-dialog-content md-input-container {
  width: 250px;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 0;
}
md-dialog.confirm md-dialog-content md-input-container input {
  font-size: 20px;
  letter-spacing: 2px;
}
md-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
md-toolbar {
  height: 64px;
}
md-toolbar .md-toolbar-tools {
  height: 64px;
  max-height: none;
}
md-toolbar .md-toolbar-tools > .md-button:first-child {
  margin-left: -4px;
}
md-toolbar:not(.md-menu-toolbar) {
  background-color: #12326B;
}
md-toolbar:not(.md-menu-toolbar) md-icon {
  fill: #ffffff;
  color: #ffffff;
}
md-toolbar.nav {
  position: fixed;
  top: 0;
}
md-toolbar.nav .md-toolbar-tools {
  font-size: 16px;
}
md-toolbar.nav button {
  padding-top: 9px;
  color: #ffffff;
}
md-toolbar.nav img {
  margin: 4px 0 0 7px;
  width: 80px;
  height: 29px;
}
md-toolbar.nav a {
  font-size: 16px;
}
md-toolbar.nav .links a {
  margin: 0 20px;
  transition: all .2s;
}
md-toolbar.nav .links a:hover {
  color: #0091FF;
}
@media screen and (max-width: 768px) {
  md-toolbar.nav .links {
    display: none;
  }
}
.exchange md-toolbar img {
  margin-top: 0;
}
md-sidenav {
  width: 240px;
  position: fixed !important;
}
md-sidenav.md-locked-open {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.18);
  top: 64px;
  z-index: 1;
}
md-sidenav:not(.md-locked-open) {
  top: 0 !important;
  bottom: 0 !important;
}
md-sidenav .md-button {
  line-height: 16px;
}
md-sidenav .account {
  padding-top: 20px;
}
md-sidenav .account .md-primary {
  width: 100%;
}
md-sidenav .info {
  padding: 22px 16px;
}
md-sidenav .info .md-headline {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
  font-weight: 500;
  padding: 0;
}
md-sidenav .info .md-subhead {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  padding: 0;
}
md-sidenav .info .photo {
  padding: 0 0 8px 0;
}
md-sidenav .info .photo div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #bdbdbd;
}
md-sidenav md-list {
  padding-top: 0;
  padding-bottom: 30px;
}
md-sidenav md-list md-list-item {
  height: 48px;
}
md-sidenav md-list md-list-item.active {
  color: #0091FF;
  background: #F2F2F2;
}
md-sidenav md-list md-list-item.active md-icon {
  color: #0091FF;
}
md-sidenav md-list md-list-item a:focus,
md-sidenav md-list md-list-item a:active {
  background: none !important;
}
md-sidenav md-list md-list-item span.new > span {
  background: #0091FF;
  color: #ffffff;
  font-size: 10px;
  line-height: 14px;
  padding: 1px 4px 0 4px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
}
md-sidenav md-list md-divider {
  margin: 8px 0;
}
md-toast {
  position: fixed !important;
  bottom: 0 !important;
  left: 0;
  right: 0;
}
@media (min-width: 1280px) {
  md-toast {
    left: 240px !important;
  }
}
md-toast .md-toast-content {
  max-width: 568px;
  min-width: 288px;
  margin: 0 auto;
}
md-toast .md-toast-content md-icon {
  padding: 0 6px;
  margin: 0;
}
@media (max-width: 568px) {
  md-toast .md-toast-content {
    border-radius: 0;
  }
}
md-toast.md-warn md-icon {
  color: #ffffff;
}
md-toast.md-success md-icon {
  color: #ffffff;
}
md-toast a.undo span {
  color: #ffffff !important;
}
.md-whiteframe-1dp > md-table-container {
  margin: 0;
}
md-table-container.transactions {
  padding: 16px 0;
}
table.md-table {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
}
table.md-table th.md-column {
  font-size: 14px;
  background: #F2F2F2;
  text-transform: uppercase;
  color: #12326B;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 0 16px;
}
table.md-table .md-row[ng-click] {
  cursor: pointer;
}
table.md-table .md-cell .md-avatar {
  width: 32px;
  height: 32px;
}
table.md-table .md-cell a {
  margin-right: 5px;
}
table.md-table .md-cell a:last-child {
  margin-right: 0;
}
md-list.details {
  font-weight: normal;
}
md-list.details .spacer {
  width: 32px;
}
md-list md-icon {
  color: #757575;
}
md-list md-list-item.group {
  background: #F2F2F2;
  text-transform: uppercase;
  color: #12326B;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}
md-list.transactions div,
md-list.transactions span {
  line-height: 22px;
}
md-list.transactions .icon {
  width: 40px;
}
md-list.transactions .negative {
  color: #D50000 !important;
}
md-list.transactions .positive {
  color: #8BC34A !important;
}
md-list.transactions .description {
  padding-bottom: 2px;
}
md-list.transactions .description span {
  display: block;
}
md-list.transactions .description .date {
  font-size: 12px;
  line-height: 14px;
  color: #9E9E9E;
  padding-top: 4px;
  display: block;
}
md-list.transactions img {
  width: 22px;
  height: 22px;
  display: block;
}
md-list.price-alerts {
  padding: 0;
  border-top: 1px solid #E0E0E0;
  margin-top: 16px;
}
md-list.price-alerts md-list-item {
  border-bottom: 1px solid #E0E0E0;
}
md-list.price-alerts md-list-item.price-alert > .md-button {
  padding: 8px 8px 8px 16px;
}
md-list.price-alerts md-list-item .direction {
  margin-right: 8px;
}
md-list.price-alerts md-list-item .price {
  margin-bottom: 2px;
}
md-list.price-alerts md-list-item .description {
  color: #9E9E9E;
  font-size: 12px;
  line-height: 14px;
}
md-list.price-alerts md-list-item.inactive.price-alert .price {
  color: #9E9E9E;
}
md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #0091FF;
}
md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #0091FF;
}
md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-select-value.md-select-placeholder {
  border-color: #0091FF;
}
md-input-container md-select:not([disabled]):focus .md-select-value {
  border-color: #0091FF;
}
md-input-container .hint {
  clear: left;
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  padding: 4px 0 0 0;
}
md-input-container .single-select {
  padding: 5px 5px 0 0;
  display: block;
}
md-radio-button.md-default-theme.md-checked .md-off,
md-radio-button.md-checked .md-off {
  border-color: #0091FF;
}
md-radio-button.md-default-theme .md-on,
md-radio-button .md-on {
  background-color: #0091FF;
}
md-radio-group.md-default-theme .md-checked .md-ink-ripple,
md-radio-group .md-checked .md-ink-ripple {
  color: #0091FF;
}
md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked .md-container:before,
md-radio-group.md-focused:not(:empty) .md-checked .md-container:before {
  background-color: rgba(0, 145, 255, 0.2);
}
md-switch.md-default-theme.md-checked .md-ink-ripple,
md-switch.md-checked .md-ink-ripple {
  background-color: #0091FF;
}
md-switch.md-default-theme.md-checked .md-bar,
md-switch.md-checked .md-bar {
  background-color: rgba(0, 145, 255, 0.5);
}
md-option img {
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 2px;
}
md-select-value img {
  display: none;
}
md-option[selected] {
  color: #0091FF !important;
}
[ng-click] {
  outline: none;
}
.nowrap {
  white-space: nowrap;
}
.md-media-xs {
  width: 48px;
  height: 48px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}
h1 {
  color: #12326B;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 10px;
  font-weight: 500;
}
h2 {
  color: #212121;
  font-weight: 400;
  font-size: 16px;
  margin: 20px 20px;
  line-height: 22px;
  text-align: center;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.smaller {
  font-size: 12px;
  line-height: 14px;
}
.larger {
  font-size: 16px;
  line-height: 20px;
}
.code {
  font-family: monospace;
  background: #F2F2F2;
  padding: 0 4px;
}
p.fineprint {
  margin: 16px;
  text-align: center;
  font-size: 80%;
}
p.md-warn {
  padding: 1em;
  background: #F2F2F2;
  border-left: 2px solid #FF5722;
  margin: 0;
}
a {
  color: #0091FF;
}
a.new {
  font-weight: bold;
  text-decoration: none;
}
a.new md-icon {
  color: #0091FF;
  margin-right: 6px;
}
a.new span {
  vertical-align: middle;
}
a.md-button:not(.md-primary) {
  color: #0091FF !important;
}
button.md-button.md-raised,
a.md-button.md-raised {
  padding-left: 12px;
  padding-right: 12px;
}
button.md-button:not([disabled]).md-raised.md-primary,
a.md-button:not([disabled]).md-raised.md-primary {
  background-color: #0091FF;
}
button.md-button:not([disabled]).md-raised.md-primary:not([disabled]):hover,
a.md-button:not([disabled]).md-raised.md-primary:not([disabled]):hover {
  background-color: #0091FF;
}
button.md-button:not(.md-primary):not(.md-warn),
a.md-button:not(.md-primary):not(.md-warn) {
  color: #0091FF !important;
}
md-content {
  color: #212121;
  background: #F2F2F2;
}
md-content.main {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  md-content.main > div {
    width: 960px;
    margin: 0 auto;
  }
}
@media (max-width: 959px) {
  md-content.main {
    padding-top: 64px;
  }
}
@media (min-width: 1280px) {
  md-content.main {
    margin-left: 240px;
  }
}
md-content.narrow {
  max-width: 540px;
  margin: 0 auto;
}
md-content span.md-warn {
  color: #D50000;
}
@media screen and (max-width: 480px) {
  md-content.layout-padding {
    padding: 0;
  }
  md-content.layout-padding > * {
    padding: 0;
  }
  md-content.layout-padding.main {
    padding-top: 80px;
  }
}
md-card {
  position: relative;
  color: #212121;
}
md-card .md-headline {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
md-card button.md-button:not(.md-primary).dismiss {
  height: 36px;
  width: 36px;
  font-size: 18px;
  margin: 0;
  padding: 1px 0 0 0;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #d4d4d4 !important;
}
md-card md-card-actions {
  border-top: 1px solid #E0E0E0;
  margin: 0;
  padding: 6px;
}
md-card md-card-actions a.md-button,
md-card md-card-actions button.md-button {
  color: #0091FF;
}
md-card a.card-tap-link {
  color: inherit;
  text-decoration: none;
  display: block;
}
md-card button.card-primary,
md-card a.card-primary {
  display: block;
  width: 242px;
  margin: 0 auto 16px auto;
}
md-card.content-card .md-headline {
  text-align: center;
  display: block;
}
md-card.content-card md-card-content {
  padding: 0;
}
md-card.content-card md-card-content img {
  width: 100%;
}
md-card.content-card md-card-content .content-card-padding {
  margin: 16px;
}
md-card.welcome {
  margin-top: 30px;
  width: 310px;
}
md-card.welcome .rocket-img {
  background-color: #ffffff;
  background-image: url(../img/welcome.png);
  background-size: cover;
  width: 310px;
  height: 144px;
}
md-card.welcome div.body {
  margin: 16px;
}
md-card.welcome div.body h1 {
  margin-top: 6px;
}
md-card.welcome div.body p {
  margin: 12px 6px;
}
md-card.welcome ul {
  list-style-type: none;
  padding: 0;
  line-height: 18px;
}
md-card.welcome ul li > span.done {
  text-decoration: line-through;
  color: #bdbdbd;
  font-weight: 300;
}
md-card.price-card md-card-content {
  padding: 0;
}
md-card.price-card .head,
md-card.price-card .warning,
md-card.price-card .info,
md-card.price-card .chart {
  background-color: #0091FF;
  color: #ffffff;
}
md-card.price-card .head {
  padding: 16px;
}
md-card.price-card .head .price {
  display: block;
}
md-card.price-card .warning {
  padding: 16px;
}
md-card.price-card .md-headline {
  text-align: left;
}
md-card.price-card .md-subhead {
  padding-top: 4px !important;
  font-size: 12px;
  line-height: 14px;
}
md-card.price-card .info {
  padding-top: 0;
}
md-card.price-card .info span {
  padding-top: 0;
}
md-card.price-card .chart {
  padding: 0 16px;
}
md-card.account-card img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}
md-card.account-card .md-headline {
  display: block;
  padding: 8px 0 16px 0;
}
md-card.md-warn {
  border-left: 2px solid #FF5722;
}
md-card.oath-card {
  text-align: center;
}
md-card.oath-card img {
  display: block;
  margin: 4px auto 26px auto;
}
md-card.oath-card img.oath-card-qr {
  margin: 0 auto 8px auto;
}
md-card.oath-card p {
  max-width: 400px;
  margin: 0 auto 1.5em auto;
}
@media screen and (min-width: 768px) {
  md-card.oath-card p {
    font-size: 16px;
    line-height: 20px;
  }
}
md-card.oath-card p.oath-card-secret-label {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}
md-card.oath-card p.oath-card-secret {
  font-family: monospace;
  font-weight: bold;
  color: #0091FF;
  margin-bottom: 30px;
  word-wrap: break-word;
}
md-card.oath-card ul {
  max-width: 400px;
  margin: 0 auto 30px auto;
}
md-card.oath-card ul li {
  text-align: left;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 768px) {
  md-card.oath-card ul li {
    font-size: 16px;
    line-height: 20px;
  }
}
md-card.oath-card ul li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  md-card.oath-card ul {
    padding-left: 10px;
  }
}
md-card.oath-card .md-button {
  margin-top: 10px;
  margin-bottom: 6px;
}
md-card.oath-card form {
  margin-bottom: 14px;
}
md-card.oath-card md-input-container {
  width: 250px;
  text-align: left;
}
md-card.oath-card md-input-container input {
  font-size: 20px;
  letter-spacing: 2px;
}
md-card.promos-card img {
  display: block;
  margin: 30px auto;
}
md-card.promos-card p {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 1.5em auto;
}
md-card.promos-card p span.url {
  font-size: 18px;
}
md-card.promos-card md-input-container {
  max-width: 300px;
  margin: 24px auto 16px auto;
}
md-card.promos-card h2 {
  text-align: center;
  color: #0091FF;
  font-weight: 500;
}
md-card.promos-card md-tab-content p:first-child {
  margin-top: 20px;
}
md-card.price-alert-card form {
  max-width: 310px;
  margin: 0 auto;
}
md-card.price-alert-card form md-radio-group {
  margin-bottom: 30px;
}
md-card.price-alert-card form .hint a {
  color: #757575;
}
md-card.price-alert-card form md-select[name="pair"] {
  margin-right: 16px;
}
md-card.price-alert-card form input[name="price"] {
  max-width: 180px;
}
md-card.price-alert-card form button.card-primary {
  margin-top: 16px;
}
md-card.price-alerts-card md-card-content {
  padding-top: 30px;
}
md-card.price-alerts-card md-card-content:first-child {
  padding-bottom: 0;
}
md-card.price-alerts-card md-card-content:first-child h1 {
  margin-bottom: 16px;
}
md-card.price-alerts-card md-tabs-content-wrapper {
  margin-top: 16px;
}
md-card md-card-content a[bitx-card-link] {
  margin: -16px;
  padding: 16px;
}
md-tabs md-ink-bar {
  color: #0091FF;
  background-color: #0091FF;
}
md-tabs md-tabs-wrapper {
  padding-bottom: 8px;
}
md-tabs .md-tab.md-active {
  color: #0091FF;
}
md-tabs md-tab-content > div {
  width: 100%;
}
.ie_lt11 {
  position: fixed;
  top: 0;
  width: 100%;
  background: #FF5722;
  text-align: center;
  color: #ffffff;
  z-index: 3;
  padding: 6px;
  margin: 0;
}
.ie_lt11 a {
  color: #ffffff;
}
.waves-loader {
  padding-top: 11px;
}
md-bottom-sheet {
  padding: 0 0 80px 0;
  position: fixed;
}
md-bottom-sheet.md-list md-list {
  padding-top: 0;
}
md-bottom-sheet.md-list md-list md-list-item {
  color: #757575;
}
md-bottom-sheet.md-list md-list md-list-item md-icon {
  color: #212121;
}
md-bottom-sheet.md-list md-list md-list-item md-divider {
  margin: 8px 0;
}
@media (min-width: 420px) and (max-width: 959px) {
  md-bottom-sheet {
    width: 384px;
    margin: 0 auto;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  md-bottom-sheet {
    width: 512px;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  md-bottom-sheet {
    width: 576px;
    margin: 0 auto;
  }
}
md-progress-circular path {
  stroke: #0091FF;
}
bitx-waves-loader.card-primary-loader .waves-loader {
  padding-top: 5px;
  margin-bottom: 26px;
}
@media screen and (max-width: 460px) {
  bitx-qab .md-button {
    min-width: 64px;
    font-size: 12px;
  }
}
img.status {
  width: 128px;
  margin: 12px auto;
}
bitx-address-qr {
  padding-top: 16px;
}
bitx-address-qr md-input-container {
  margin-bottom: 0;
}
bitx-address-qr .amount {
  min-width: 250px;
}
bitx-address-qr .image {
  text-align: center;
  margin-top: -16px;
}
bitx-address-qr .image img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
bitx-address-qr .image p {
  margin-top: 0;
}
bitx-empty-state > div {
  margin: 80px auto 16px auto;
}
bitx-empty-state.inline > div {
  margin-top: 24px;
}
bitx-empty-state img {
  width: 149px;
  display: block;
  margin: 0 auto 16px auto;
}
bitx-empty-state p {
  margin: 0 0 1.5em 0;
  width: 300px;
  text-align: center;
  color: #757575;
}
bitx-empty-state .md-button {
  margin-top: 0;
}
.deckgrid .column {
  float: left;
}
.deckgrid .column-1-1 {
  width: 100%;
}
.deckgrid .column-1-2 {
  width: 50%;
}
.deckgrid[deckgrid]::before {
  content: '1 .column.column-1-1';
  font-size: 0;
  visibility: hidden;
}
@media screen and (min-width: 600px) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }
}
.deckgrid md-card {
  margin-bottom: 16px;
}
.waves-loader span {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin: 0px 3px 0;
  background: #0091FF;
  border-radius: 50%;
  -ms-transform: translateY(0);
      transform: translateY(0);
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  animation: wave 2s infinite ease-in-out;
  -moz-animation: wave 2s infinite ease-in-out;
  -webkit-animation: wave 2s infinite ease-in-out;
}
@keyframes wave {
  0%,
  60%,
  100% {
    background: #0091FF;
    transform: translateY(0);
    -moz-transform: translateY(0);
  }
  20% {
    background: #0091FF;
    transform: translateY(5px);
    -moz-transform: translateY(5px);
  }
  40% {
    background: #0091FF;
    transform: translateY(-5px);
    -moz-transform: translateY(-5px);
  }
}
.waves-loader span:nth-child(1) {
  animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.waves-loader span:nth-child(2) {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}
.waves-loader span:nth-child(3) {
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.waves-loader span:nth-child(4) {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}
.waves-loader span:nth-child(5) {
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.balances-header {
  background: #12326B;
  color: #ffffff;
  padding: 22px 0 52px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.balances-header .container {
  height: 80px;
}
.balances-header img {
  display: block;
  margin-top: 25px;
}
.balances-header span {
  margin: 0;
  display: block;
  text-align: center;
}
.balances-header span.md-subhead {
  color: #ffffff;
  opacity: 0.5;
}
.transfer {
  margin-top: -10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.transfer md-select.endpoint {
  height: 60px;
}
.account-header img {
  width: 64px;
  height: 64px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  margin-bottom: 15px;
  margin-top: 24px;
}
.account-header p {
  margin: 0;
  line-height: 28px;
}
.account-header p span {
  width: 120px;
  display: inline-block;
  text-align: right;
  font-weight: bold;
}
.account-header p span:first-child {
  text-align: left;
  font-weight: normal;
}
.account-header p.md-headline {
  font-size: 20px;
  line-height: 24px;
}
.account-header p.md-subhead {
  font-size: 12px;
  line-height: 14px;
}
md-input-container input[type="number"]::-webkit-outer-spin-button,
md-input-container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
md-input-container input[type="number"] {
  -moz-appearance: textfield;
}
.qab {
  margin-top: -50px;
  margin-bottom: 8px;
}
.qab .md-whiteframe-4dp {
  border-radius: 2px;
  background: #ffffff;
}
.qab md-icon {
  color: #212121;
}
.qab a.md-button:not(.md-primary) {
  color: #757575 !important;
  text-transform: none;
  font-weight: normal;
  padding-top: 10px;
  margin: 0;
}
bitx-app-store a {
  padding: 8px;
}
.settings-identity-upload {
  border: 2px dashed #757575 !important;
}
.settings-identity-upload-hover {
  background: #F2F2F2;
  border-style: solid !important;
}
md-card.promos-card .promo-share {
  margin-bottom: 30px;
}
md-card.promos-card .promo-share md-input-container {
  margin: 0;
  width: 270px;
}
md-card.promos-card .promo-share md-input-container input {
  text-align: center;
  font-weight: 500;
}
md-card.promos-card .promo-share a {
  height: 40px;
  width: 40px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  transition: .2s all;
  border-radius: 50%;
  margin: 0 10px;
}
md-card.promos-card .promo-share a:active {
  box-shadow: none;
}
md-card.promos-card .promo-share a img {
  margin: 13px 0 0 12px;
}
md-card.promos-card .promo-share a.copy {
  background-color: #BDBDBD;
}
md-card.promos-card .promo-share a.facebook {
  background-color: #39559F;
}
md-card.promos-card .promo-share a.facebook img {
  margin: 12px 0 0 15px;
}
md-card.promos-card .promo-share a.twitter {
  background-color: #50ADF3;
}
.depositflow md-list-item._md-button-wrap div.md-button {
  padding: 0 20px;
}
.depositflow md-list-item._md-button-wrap div.md-button .md-avatar {
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}
.depositflow .min-max-labels {
  width: 290px;
  margin-bottom: 10px;
}
.depositflow .min-max-labels span {
  color: #757575;
  font-size: 12px;
  float: left;
}
.depositflow .min-max-labels .amount {
  float: right;
}
.depositflow .notes {
  color: #757575;
  margin-bottom: 32px;
}
.depositflow .provider-currency {
  position: absolute;
  left: -35px;
  top: 6px;
  color: #9E9E9E;
  font-size: 16px;
  line-height: 24px;
}
.depositflow .border-orange {
  border: 2px solid #FF5722;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
.depositflow .border-orange p {
  font-size: 16px;
  line-height: 24px;
}
.depositflow .border-orange h2 {
  color: #FF5722;
  font-size: 24px;
}
.depositflow .eof_pending {
  text-align: center;
  padding: 20px;
}
.depositflow .eof_pending md-card-content {
  padding-bottom: 30px;
}
.depositflow md-input,
.depositflow md-input:focus {
  font-size: 16px;
}
